@font-face {
  font-family: Roboto;
  src: url(../../static/fonts/Roboto/Roboto-Regular.ttf);
}

.background_ellipse_1 {
  position: absolute;
  right: 0px;
  top: 0px;
}

.background_ellipse_2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* Change Password Form*/

.change_password_form {
  position: absolute;
  width: 633px;
  height: 578px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(3, 3, 3, 0.88);
  border-radius: 20px;
}

.change_password_form h1 {
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  color: #ebebeb;
  font-size: 24px;
}

.change_password_form input {
  background: url(../../static/images/auth/padlock.svg) no-repeat 20px 13px;
  border: 4px solid #2a055a;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  font-size: 18px;
  color: #9b9797;
  outline: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  transition: 0.25s;
  border-radius: 40px;
  width: 388px;
  height: 60px;
}

.change_password_form input:focus {
  width: 450px;
  color: white;
  font-size: 22px;
}

.change_password_form input:focus::placeholder {
  opacity: 0;
}

.change_password_form button {
  margin: 55px auto;
  outline: none;
  border: 0;
  width: 200px;
  height: 49px;
  display: block;
  text-align: center;
  background: linear-gradient(90deg, #2a055a 0%, #06486c 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #f0f0f0;
  cursor: pointer;
  transition: 0.35s;
}

.change_password_form button:hover {
  background: linear-gradient(90deg, #3c0e79 0%, #0d5880 100%);
  transform: scale(1.05);
}

/* Successful Form*/

.successful_form {
  position: absolute;
  width: 622px;
  height: 539px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(3, 3, 3, 0.88);
  border-radius: 20px;
}

.successful_form h1 {
  margin-top: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ebebeb;
  font-size: 24px;
}

.successful_form img {
  margin-top: 45px;
}

.successful_form button {
  margin: 45px auto;
  outline: none;
  border: 0;
  width: 119px;
  height: 49px;
  display: block;
  text-align: center;
  background: linear-gradient(90deg, #2a055a 0%, #06486c 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  transition: 0.35s;
}

.successful_form button a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #f0f0f0;
  cursor: pointer;
}

.successful_form button:hover {
  background: linear-gradient(90deg, #3c0e79 0%, #0d5880 100%);
  transform: scale(1.05);
}
